.date-reserve-part {
  margin-top: 24px;
  display: flex;
  gap: 5%;
}

.date-part h3 {
  margin-bottom: 12px;
}

.reserve-part h3 {
  margin-bottom: 12px;
}

.form > label,
.form > input {
  margin: 2% 0;
  width: 100%;
}

.form > input {
  font-size: 16;
  line-height: 3;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 0 2%;
}

.flex-rooms {
  display: flex;
}
.flex-rooms > div {
  flex: 50%;
}

.rooms h3 {
  margin-bottom: 12px;
}

.total h3 {
  margin-bottom: 12px;
}

.total > select {
  width: 30%;
  font-size: 14px;
  line-height: 3;
  -webkit-appearance: menulist-button;
  height: 42px;
  margin-right: 5%;
  border-radius: 4px;
}

.total > select option:disabled {
  cursor: not-allowed;
  background: #efefef;
  opacity: 0.5;
}

.total > button {
  font-size: 14px;
  line-height: 3;
  color: white;
  background: #356ec2;
  width: 20%;
  border: 1px solid #356ec2;
  border-radius: 6px;
  cursor: pointer;
}
.flex-rooms__content {
  display: flex;
  column-gap: 2%;
  align-items: center;
}

.desc-margin {
  padding-right: 2%;
}

.flex-checkbox {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.message-info {
  position: fixed;
  top: 10vh;
  left: 5vw;
  z-index: 99;
  font-size: 18px;
  border: 1px solid #356ec2;
  background-color: lightskyblue;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
